/* Container Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: url('https://images.pexels.com/photos/1037999/pexels-photo-1037999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Login Screen */
  .logscreen {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Add slight transparency */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Body Content */
  .logbody {
    padding: 20px;
  }
  
  /* Header */
  .header p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  .logform form {
    display: flex;
    flex-direction: column;
  }
  
  .logform label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .logform input,
  .logform select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
  }
  
  .logform input:focus,
  .logform select:focus {
    border-color: hsl(212, 38%, 9%);
  }
  
  .logform button {
    background-color: #0d253f;    
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logform button:hover {
    background-color: #0d253f;  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .logscreen {
      width: 90%;
    }
  
    .header p {
      font-size: 18px;
    }
  }
  